a:hover {
    background-color: orange;
}

a:focus {
    background: green;
}

p {
    font-size: 16px;
    font-family: serif;
}

body {
    background-image: url(./Pictures/HjIyYJ.jpg);
}

.lead {
    font-size: 16px;
}
